{% extends "main.html" %}

{% block content %}
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Список заказов</span></h2>
    <table>
        <thead>
        <tr>
            <th>Номер заказа</th>
            <th>Дата создания</th>
            <th>Статус</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Телефон</th>
            <th>Город</th>
            <th>№ НП</th>
            <th>Адрес</th>
            <th>Заказ обработан</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.created }}</td>
            <td>{% if order.paid %}Оплачен{% else %}Не оплачен{% endif %}</td>
            <td>{{ order.first_name }}</td>
            <td>{{ order.last_name }}</td>
            <td>{{ order.phone }}</td>
            <td>{{ order.city }}</td>
            <td>{{ order.postal_code }}</td>
            <td>{{ order.address }}</td>
            <td>
                <a href="#">
                    <button type="button" class="btn btn-primary">Заказ обработан</button>
                </a>
            </td>
        </tr>
            <tr>
                <td colspan="11">
                    <table>
                        <thead>
                        <tr>
                            <th>Сообщение</th>
                            <th>Список товаров</th>
                            <th>Итоговая стоимость</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ order.message }}</td>
                            <td>
                                <ul>
                                    {% for item in order.items.all %}
                                        <li>{{ item.product.name }} ({{ item.size }}) x {{ item.quantity }} шт. - {{ item.price }} грн.</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>{{ order.get_total_cost }}</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            {% if not loop.last %}
                <tr>
                    <td colspan="11">
                        <hr>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>


        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Зворотній звязок</span></h2>
    <table>
        <thead>
        <tr>
            <th>Дата</th>
            <th>Імя</th>
            <th>Тема</th>
            <th>Пошта</th>
            <th>Повідомлення</th>

        </tr>
        </thead>
        <tbody>
        {% for item in contact_us_viev_manager %}
            <tr>
                <td>{{ item.date|date:'d-m-Y' }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.subject }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.message }}</td>
                <td>
                    <a href="#">
                        <button type="button" class="btn btn-primary">Запит опрацьований</button>
                    </a>
                </td>
            </tr>
            <tr><td colspan="11"><hr></td></tr>
        {% endfor %}
        </tbody>
    </table>

    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Подписка на розсилку</span></h2>
    <table>
        <thead>
        <tr>
            <th>Дата</th>
            <th>Пошта</th>
        </tr>
        </thead>
        <tbody>
        {% for item in subscription_viev_manager %}
            <tr>
                <td>{{ item.date|date:'d-m-Y' }}</td>
                <td>{{ item.email }}</td>
                <td>
                    <a href="#">
                        <button type="button" class="btn btn-primary">Запит опрацьований</button>
                    </a>
                </td>
            </tr>
            <tr><td colspan="11"><hr></td></tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
