{% extends 'main.html' %}

{% load static %}

{% block title %}<title>Shop Registration</title>{% endblock %}

{% block content %}


    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'main_page:index' %}">Головна</a>
                    <span class="breadcrumb-item active">Магазин - Реєстрація</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div id="login-box">
                    <div class="center">
                        <h1>Реєстрація</h1>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary" name="signup_submit" value="Sign me up">Зареєструватись</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}