{% extends 'main.html' %}

{% block title %}Checkout{% endblock %}

{% block content %}

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'main_page:index' %}">Головна</a>
                    <span class="breadcrumb-item active">Інформація для відправки замовлення</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Checkout Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Адреса для доставки</span></h5>
                <div class="bg-light p-30 mb-5">
                    <form method="post">
                    {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>Прізвище</label>
                                {{ form.last_name }}
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Ім'я</label>
                                {{ form.first_name }}
                            </div>
                            <div class="col-md-6 form-group">
                                <label>E-mail</label>
                                {{ form.email }}
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Контактний № мобільного тел. </label>
                                {{ form.phone }}
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Місто</label>
                                {{ form.city }}
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Номер відділення Нової пошти</label>
                                {{ form.postal_code }}
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Адреса</label>
                                {{ form.address }}
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Додаткова інформація</label>
                                {{ form.message }}
                            </div>


                            <div class="col-md-12 form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="newaccount">
                                    <label class="custom-control-label" for="newaccount">Створити новий акаунт</label>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-block btn-primary font-weight-bold py-3" type="submit">Підтвердити замовлення</button>
                    </form>
                </div>
            </div>

            <div class="col-lg-4">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Сума замовлення</span></h5>
                <div class="bg-light p-30 mb-5">
                    <div class="border-bottom">
                        <h6 class="mb-3">Товари:</h6>
                        {% for item in cart %}
                            <div class="d-flex justify-content-between">
                                <p>{{ item.product.name }}<br> кількість: {{ item.quantity }}шт.</p>
                                <p>{{ item.total_price }} UAH</p>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2">
                            <h5>Разом</h5>
                            <h5>{{ cart.get_total_price }} UAH</h5>
                        </div>
                    </div>
                </div>

                <div class="mb-5">
                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Payment</span></h5>
                    <div class="bg-light p-30">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="paypal">
                                <label class="custom-control-label" for="paypal">Paypal</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="directcheck">
                                <label class="custom-control-label" for="directcheck">Оплата при отриманні</label>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="banktransfer">
                                <label class="custom-control-label" for="banktransfer">Оплата на карту банка</label>
                            </div>
                        </div>
                        <button class="btn btn-block btn-primary font-weight-bold py-3" type="submit">Підтвердити замовлення</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Checkout End -->

{% endblock %}
