{% load static %}

    <!-- Vendor Start -->
    <div class="container-fluid py-5">
        <div class="row px-xl-5">
            <div class="col">
                <div class="owl-carousel vendor-carousel">
                    {% for item in manufacturer %}
                        <div class="bg-light p-4">
                            <img src="{{ item.image.url }}" alt="{{ item.title }}">
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
    <!-- Vendor End -->