<!-- Navbar Start -->
<div class="container-fluid bg-dark mb-30">
    <div class="row px-xl-5">

        {% include 'navbar_categories.html' %}

        <div class="col-lg-9">
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0">
                <a href="{% url 'main_page:index' %}" class="text-decoration-none d-block d-lg-none">
                    <span class="h1 text-uppercase text-dark bg-light px-2">Joma</span>
                    <span class="h1 text-uppercase text-light bg-primary px-2 ml-n1">Shop</span>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <a href="{% url 'main_page:index' %}" class="nav-item nav-link{% if request.path == '/' %} active{% endif %}">Головна</a>
                        <a href="{% url 'info_page' 'oplata-i-dostavka' %}" class="nav-item nav-link{% if request.path == '/' %} active{% endif %}">Оплата і доставка</a>
                        <a href="{% url 'info_page' 'guarantee' %}" class="nav-item nav-link{% if request.path == '/' %} active{% endif %}">Гарантії</a>
                        <a href="{% url 'info_page' 'discounts' %}" class="nav-item nav-link{% if request.path == '/' %} active{% endif %}">Знижки</a>
                        <a href="{% url 'info_page' 'size' %}" class="nav-item nav-link{% if request.path == '/' %} active{% endif %}">Розмірна таблиця</a>
                        <a href="{% url 'info_page' 'druk-na-formi' %}" class="nav-item nav-link{% if request.path == '/' %} active{% endif %}">Друк на формі</a>
                        <a href="{% url 'blogpost:blog_post_list' %}" class="nav-item nav-link{% if request.path == '/' %} active{% endif %}">Блог</a>
                        <a href="{% url 'main_page:contacts' %}" class="nav-item nav-link{% if request.path == '/' %} active{% endif %}">Контакти</a>

                    </div>
                    <div class="navbar-nav ml-auto py-0 d-none d-lg-block">
                        <a href="" class="btn px-0">
                            <i class="fas fa-heart text-primary"></i>
                            <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">0</span>
                        </a>
                        <a href="" class="btn px-0 ml-3">
                            <i class="fas fa-shopping-cart text-primary"></i>
                            <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">0</span>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- Navbar End -->