{% extends 'main.html' %}

{% load static %}

{% block content %}

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'main_page:index' %}">Головна</a>
                    <a class="breadcrumb-item text-dark" href="{% url 'main_page:category_list' %}">Список категорій</a>
                    <span class="breadcrumb-item active">Список підкатегорій</span>
                </nav>
            </div>
        </div>
    </div>
   <!-- Breadcrumb End -->

    {% include 'sub_category_list_block.html' %}

    {% include 'recommended_products.html' %}

{% endblock %}