{% load static %}

<!-- Shop Product Start -->
<div class="col-lg-9 col-md-8">
    <div class="row pb-3">

        <div class="col-12 pb-1">
            <div class="d-flex align-items-center justify-content-between mb-4">

                <div class="ml-2">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Сортування</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="?sort=price_asc">Від найдешевших</a>
                            <a class="dropdown-item" href="?sort=price_desc">Від найдорожчих</a>
                            <a class="dropdown-item" href="?sort=date_desc">Останні додані</a>
                        </div>
                    </div>

                    <div class="btn-group ml-2">
                        <form id="product-count-form" method="GET" action="?page={{ page_obj.number }}&count={{ request.GET.count }}">
                            <select name="count" class="form-control form-control-sm" onchange="document.getElementById('product-count-form').submit()">
                                <option value="24" {% if request.GET.count == '24' %}selected{% endif %}>24</option>
                                <option value="36" {% if request.GET.count == '36' %}selected{% endif %}>36</option>
                                <option value="48" {% if request.GET.count == '48' %}selected{% endif %}>48</option>
                                <option value="96" {% if request.GET.count == '96' %}selected{% endif %}>96</option>
                            </select>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        {% for product in page_obj %}
            <div class="col-lg-3 col-md-6 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <a href="{{ product.get_absolute_url }}">
                            <img class="img-fluid w-100 product-img" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/product.png" %}{% endif %}">
                        </a>
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href="{{ product.get_absolute_url }}"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none product-name" href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            {% if product.discounted_price %}
                                <h5>{{ product.discounted_price }} UAH</h5><h6 class="text-muted ml-2"><del>{{ product.price }} UAH</del></h6>
                            {% else %}
                                <h5>{{ product.price }} UAH</h5>
                            {% endif %}
                        </div>
                        <div class="d-flex justify-content-start mt-2">
                            <button class="btn btn-warning mr-2" onclick="location.href='{{ product.get_absolute_url }}'">Переглянути товар</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}



        <div class="col-12">
            <nav aria-label="...">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}&count={{ request.GET.count }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <li class="page-item"><a class="page-link" href="?page={{ num }}&count={{ request.GET.count }}">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}&count={{ request.GET.count }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}



                </ul>
            </nav>
        </div>

    </div>
</div>
<!-- Shop Product End -->



