{% extends 'main.html' %}
{% load static %}

{% block content %}

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'main_page:index' %}">Головна</a>
                    <a class="breadcrumb-item text-dark" href="{% url 'shop:product_list' %}">Всі товари в магазині</a>
                    <a class="breadcrumb-item text-dark" href="{% url 'main_page:category_list' %}">Основні категорії</a>
                    <span class="breadcrumb-item active">Список товарів категорії - {{ cat.name }}</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Shop Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-4">

                {% include 'filter_brand.html' %}


            </div>
            <!-- Shop Sidebar End -->

            {% include 'sub_cat_product.html' %}

        </div>
    </div>
    <!-- Shop End -->


{% endblock %}
