{% extends 'main.html' %}
{% load static %}

{% block title %}Ваше замовлення{% endblock %}

{% block content %}
    <h1>Your shopping cart</h1>
    <table class="cart">
        <thead>
            <tr>
                <th>Зображення</th>
                <th>Товар</th>
                <th>Кількість</th>
                <th>Видалити</th>
                <th>Ціна за одиницю</th>
                <th>Разом</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
                {% with product=item.product %} 
                    <tr>
                        <td>
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                            </a>
                        </td>
                        <td>
                            {{ product.name }}
                        </td>
                        <td>
                            {{ item.quantity }}
                        </td>
                        <td>
                            <a href="{% url "cart:cart_remove" product.id %}">Видалити</a>
                        </td>
                        <td class="num">
                            ${{ item.price }}
                        </td>
                        <td class="num">
                            ${{ item.total_price }}
                        </td>
                    </tr>
                {% endwith %}
            {% endfor %}
            <tr class="total">
                <td>
                    Загальна сума замовлення
                </td>
                <td colspan="4">
                </td>
                <td class="num">
                    ${{ cart.get_total_price }}
                </td>
            </tr> 
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url "shop:product_list" %}" class="button light">Продовжити покупки</a>
        <a href="{% url "orders:order_create" %}" class="button">
            Оформити замовлення
        </a>
    </p>
{% endblock %}
